* {
    box-sizing: border-box;
}

body {
    font-family: 'Hahmlet', serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color :midnightblue;
    font-style:inherit;
    border: 1px solid midnightblue;
}

ul {
    background-color: lightblue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

ol {
    background-color: lightblue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

a {
    text-decoration: none;
}

div.pretzel {
    text-align: center;
}